*/App/
*/App0/
*/AppWiimote/
*/AppWii/
*/AppWiiNear/
*/AppWiiMed/
*/AppWiiFar/
*/AppVoice/
*/AppVoiceNear/
*/AppVoiceMed/
*/AppVoiceFar/
*/AppNear/
*/AppMed/
*/AppFar/
*/Temp/UnityLockFile
*/Library
*/Temp
